{

  "connection" : "tcp",

  "tcp" : {
    "host" : "127.0.0.1",
    "port" : 5760
  },

  "udp" : {
    "port" : 14550
  },
  
  "serial" : {
    "device" : "/dev/tty.usbserial-A900XUV3",
    "baudrate" : 57600
  },

  "testing" : {
    "serial" : {
      "master" : "/var/lib/jenkins/dev/master",
      "slave" : "/var/lib/jenkins/dev/slave"
    }
  }
  
}