doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/assets.css')
    script(type="text/javascript", data-main="/javascripts/required", charset="utf-8", src="/javascripts/require.js")

  body
    block content