!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900')
    script(src='/nowjs/now.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script
      $(document).ready(function() {
        now.receiveMessage = function(message) {
        
        // Log the new packet
        var messageHtml = '<tr class="'+message.name+'"><th scope="row">'
        + message.name+'</th>'
        + '<td>'+message.header.seq+'</td>';
        var payload = '';
        _.each(message.fieldnames, function(e) {
          payload += e + "=" + message[e] + ", ";
        });
        payload.replace(/, $/,'');
        messageHtml += '<td>'+payload+'</td></tr>';
        $('#console tbody').prepend(messageHtml);
        
        //if(message.name == 'ATTITUDE') {
          // Update attitude status
          $('#attitude').html(_.template('<table>'
            + '<tr><th scope="row">Time </th><td><%= time_boot_ms %></td></tr>'
            + '<tr><th scope="row">Roll</th><td><%= roll %></td></tr>'
            + '<tr><th scope="row">Pitch</th><td><%= pitch %></td></tr>'
            + '<tr><th scope="row">Yaw</th><td><%= yaw %></td></tr>'
            + '<tr><th scope="row">Rollspeed</th><td><%= rollspeed %></td></tr>'
            + '<tr><th scope="row">Pitchspeed</th><td><%= pitchspeed %></td></tr>'
            + '<tr><th scope="row">Yawspeed</th><td><%= yawspeed %></td></tr></table>'
            , message)).css('transform', 'rotate('+message.roll+'rad) skewX('+message.pitch+'rad) skewY('+message.yaw+'rad)').css('transform-origin', 'center center');
          //}
        }
      });

  body

    div#status
      div#attitude

    table#console
      tbody