h3 Battery

a
  img#battery_image(src=icon)

div
  span.value !{battery_remaining}
  span.units &nbsp;%
div
  span.value !{voltage_battery}
  span.units &nbsp;v
div
  span.value !{current_battery}
  span.units &nbsp;A
  