#comms
	.disconnected Disconnected.
	.connecting Connecting!{time_since_last_heartbeat}.
	.connected Connected.
	div
		button#loadParams Load Parameters
		button#loadMission Load Mission
		button#startMission Start Mission Wooo!