h3 GPS

#position
    span.units lat &nbsp;
    span.value !{lat} &nbsp;
    span.units lon &nbsp;
    span.value !{lon} &nbsp;
#gps_stats
    #location
        span.units fix_type &nbsp;
        span.value !{fix_type} &nbsp;
    #stats
        span.units satellites_visible &nbsp;
        span.value !{satellites_visible} &nbsp;