div#speedWidget.widget

div#batteryWidget.widget

div#altitudeWidget.widget

div#mapWidget.widget

fieldset
  legend Live Data Feed
  div#commsWidget.widget

  div#gpsWidget.widget

  div#healthWidget.widget

  div#stateWidget.widget