div#widgets

  div#speedWidget.widget

  div#altitudeWidget.widget

  div#batteryWidget.widget

  div#debugWidget.widget

    h3 Debug Console

    div#healthWidget

    div#stateWidget

div#mapWidget

div#gpsWidget.widget

div#commsWidget
