div#widgets

  div#speedWidget.widget

  div#altitudeWidget.widget

  div#batteryWidget.widget

  div#debugWidget.widget

    h3 Debug Console

    div#commsWidget

    div#gpsWidget

    div#healthWidget

    div#stateWidget

div#mapWidget